th, td {
    border: 1px solid black;
    padding: 2px 4px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: lightblue;
}

img {
    height: 20px;
    width: 20px;
}

button, input, select {
    margin: 3px;
}

#create_form div {
    clear: both;
    text-align: right;
    line-height:25px;
}

label {
    float: left;
    padding-right:10px;
}

#create_form {
    float: left;
}

#create_form input, #create_form select {
    width: 200px;
}

.big_button {
    width: 100px;
}

.big_button * {
    vertical-align: middle;
    margin: 2px 10px;
}